appdirs
beautifulsoup4
bs4
cachetools
certifi
cffi
cfgv
chardet
clarifai
click
colorama
comtypes
configparser
cryptography
dadjokes
dateparser
decorator
distlib
docopt
EasyProcess
emoji
et-xmlfile
filelock
Flask
future
futures
google-api-core
google-api-python-client
googleapis-common-protos
google-auth
google-auth-httplib2
google-auth-oauthlib
GoogleNews
googletrans==3.1.0a0
goslate
grpcio
gsheets
gspread
gunicorn
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
identify
idna
install
instapy
itsdangerous
jdcal
Jinja2
Js2Py
jsonschema
lxml
MarkupSafe
MeaningCloud-python
MouseInfo
nodeenv
numpy
oauth2client
oauthlib
openpyxl
packaging
pandas
Pillow
pip
pipwin
pluggy
plyer
pre-commit
protobuf
py
pyaes
pyasn1
pyasn1-modules
PyAutoGUI
pycparser
PyDictionary
pygsheets
pyjsparser
PyMsgBox
pyparsing
pyperclip
PyPrind
PyRect
PyScreeze
pySmartDL
python-dateutil
python-telegram-bot
pyttsx3
PyTweening
pytz
pywhatkit
PyYAML
regex
requests
requests-oauthlib
rfc3986
rsa
selenium
setuptools
six
sniffio
soupsieve
SpeechRecognition
Telethon
toml
tornado
tox
tqdm
translate
tzlocal
uritemplate
urllib3
virtualenv
Werkzeug
wheel
wikipedia
APScheduler
backoff
bottle
dbhub
DictObject
easydict
gothon
libmagic
luckydonald-utils
ndg-httpsclient
pyOpenSSL
pyTelegramBotAPI
pytgbot
python-magic
aiml==0.8.6
better-profanity
psycopg2
python-aiml==0.9.3
pandas
nltk
numpy
sklearn
chatterbot
chatterbot-corpus
nudenet
pafy
youtube-dl
